<div class="content_container">

    <button *ngFor="let town of townList">
        <div id="townContainer" style='--town-url: url("{{town.viewerInfo!.weatherMainUrl}}")'>

            <span class="townNameWeatherContainer">
                <span class="townNameWeather">

                    <span class="townName">
                        <p class="nameTownP">{{town.name}} </p>
                        <img src='{{town.viewerInfo!.iconUrl}}' />
                    </span>

                    <span class="descriptionWeather">
                        {{town.viewerInfo!.description}}
                    </span>

                    <span style="font-size: 6rem;">
                        {{town.viewerInfo!.temp}}
                    </span>


                </span>
            </span>
            
            <span class="descriptionWeatherContainer">

                <span class="weatherDescription">
                    <p class="name">Felt temp | </p>
                    <p class="name">Pressure | </p>
                    <p class="name">Humidity | </p>
                    <p class="name">Wind | </p>
                    <p class="name">Cloudiness | </p>
                </span>
                
                <span class="weatherDescription">
                    <p>{{town.viewerInfo!.feltTemp}}</p>
                    <p>{{town.viewerInfo!.pressure}}</p>
                    <p>{{town.viewerInfo!.humidity}}</p>
                    <p>{{town.viewerInfo!.windSpeed}}</p>
                    <p>{{town.viewerInfo!.clouds}}</p>
                </span>
            </span>

        </div>
    </button>

</div>