<div class="content_container">

    <button *ngFor="let town of townList">
        <div id="townContainer" style='--town-url: url("{{town.viewerInfo?.weatherMainUrl}}")'>

            <span class="townNameWeatherContainer">
                <span class="townNameWeather">

                    <span class="townName">
                        <p>{{town.name}} </p>
                        <img src='{{town.viewerInfo?.iconUrl}}' style="width: 120px; height: 120px;" />
                    </span>

                    <span style="font-size: 2rem; display: flex; flex-direction: row;">
                        <span style="font-size: 6rem;">
                            {{town.viewerInfo?.temp}}
                        </span>
                    </span>

                </span>

            </span>


            <span style="width: 60%; margin: 1rem; display: flex; justify-items: flex-start;">
                <span>Weather</span>
                <span class="weatherDescription">
                    Temp: {{town.viewerInfo?.weatherMainUrl}}
                </span>
            </span>

        </div>
    </button>

</div>