nav {
    display: flex;
    align-items: center;
    justify-content: left;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    color: #40513B;
    text-decoration: none;
}

span {
    margin-right: 5cap;
    font-size: large;
}