<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img width="60" height="60" style="margin: 5px;"
      src="https://img.icons8.com/external-goofy-line-kerismaker/96/external-Cloud-Sun-weather-goofy-line-kerismaker.png"
      alt="WeatherApp" />
    WeatherApp
  </a>
</nav>

<div class="input_container">
  <input id="townNameNEW">
  <input id="townCountryNEW">
  <button>ADD TOWN</button>
</div>


<span id="time">{{currentTime | date: 'hh:mm:ss a, d/M/yy' }}</span>